$secondary-palette: (
  0: #000000,
  10: #171933,
  20: #2c2e49,
  25: #373954,
  30: #424560,
  35: #4e506d,
  40: #5a5c79,
  50: #737593,
  60: #8c8eae,
  70: #a7a9c9,
  80: #c2c4e5,
  90: #dfe0ff,
  95: #f1efff,
  98: #fbf8ff,
  99: #fffbff,
  100: #ffffff,
);

$neutral-palette: (
  0: #000000,
  10: #1b1b1f,
  20: #303034,
  25: #3b3b3f,
  30: #47464a,
  35: #535256,
  40: #5f5e62,
  50: #78767a,
  60: #929094,
  70: #adaaaf,
  80: #c8c5ca,
  90: #e4e1e6,
  95: #f3f0f4,
  98: #fcf8fd,
  99: #fffbff,
  100: #ffffff,
);

$neutral-variant-palette: (
  0: #000000,
  10: #1a1b23,
  20: #2f3038,
  25: #3b3b43,
  30: #46464f,
  35: #52525b,
  40: #5e5d67,
  50: #777680,
  60: #91909a,
  70: #abaab4,
  80: #c7c5d0,
  90: #e3e1ec,
  95: #f2effa,
  98: #fbf8ff,
  99: #fffbff,
  100: #ffffff,
);

$error-palette: (
  0: #000000,
  10: #410002,
  20: #690005,
  25: #7e0007,
  30: #93000a,
  35: #a80710,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  95: #ffedea,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff,
);

$primary-palette: (
  0: #000000,
  10: #000865,
  20: #01149e,
  25: #1726a8,
  30: #2735b3,
  35: #3543bf,
  40: #4250cb,
  50: #5d6ae6,
  60: #7886ff,
  70: #9aa4ff,
  80: #bdc2ff,
  90: #dfe0ff,
  95: #f1efff,
  98: #fbf8ff,
  99: #fffbff,
  100: #ffffff,
  secondary: $secondary-palette,
  neutral: $neutral-palette,
  neutral-variant: $neutral-variant-palette,
  error: $error-palette,
);

$tertiary-palette: (
  0: #000000,
  10: #001c37,
  20: #0a3256,
  25: #193d62,
  30: #27486e,
  35: #33547b,
  40: #406087,
  50: #5979a2,
  60: #7393bd,
  70: #8dadd9,
  80: #a8c9f6,
  90: #d2e4ff,
  95: #eaf1ff,
  98: #f8f9ff,
  99: #fdfcff,
  100: #ffffff,
  secondary: $secondary-palette,
  neutral: $neutral-palette,
  neutral-variant: $neutral-variant-palette,
  error: $error-palette,
);
